:root {
--berkeley-blue: #003262;
--berkeley-gold: #FDB515;
--berkeley-gray: #DDD5C7;
}

body {
font-family: 'Helvetica Neue', Arial, sans-serif;
line-height: 1.6;
color: #333;
margin: 0;
padding: 0;
}

header {
    background-color: #003262; /* Berkeley Blue background */
    color: #FFFFFF;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 80px; /* Adjust as needed */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    max-width: 1200px; /* or whatever max-width you prefer for your content */
    margin: 0 auto;
}

header .logo {
height: 100%;
display: flex;
align-items: center;
background-color: white; /* Set logo background to white */
padding: 0 20px; /* Add some padding around the logo */
}

header .logo img {
height: 100%;
width: auto; /* Maintain aspect ratio */
object-fit: contain; /* Ensure the entire logo is visible */
}

header nav {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 20px;
}

header nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

nav {
background-color: var(--berkeley-gold);
padding: 0.5rem;
position: fixed;
width: 100%;
top: 60px;
z-index: 999;
}

nav ul {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
justify-content: center;
max-width: 1200px;
}

nav ul li {
margin: 0 15px;
}

nav ul li a {
color: var(--berkeley-blue);
text-decoration: none;
font-weight: bold;
}

main {
    max-width: 800px;
    margin: 30px auto 0;
    padding: 20px;
    padding-top: 80px;
}

section {
margin-bottom: 40px;
}

section p {
    margin-bottom: 10px;
    line-height: 1.6;
    padding-left: 20px; /* Add padding to indent the text */
}

section ul {
    padding-left: 40px; /* Add padding to indent the list items */
}

section ul ul {
    padding-left: 20px; /* Indent nested list items less */
}

h1, h2 {
color: var(--berkeley-gold);
}

.project {
background-color: #f9f9f9;
border: 1px solid #ddd;
border-radius: 5px;
padding: 20px;
margin-bottom: 20px;
}

.project h3 {
color: var(--berkeley-blue);
}

footer {
background-color: #003262; /* Berkeley Blue */
color: #FFFFFF;
text-align: center;
padding: 10px 0;
position: relative;
width: 100%;
bottom: 0;
}

.logo-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.logo-link:hover {
    text-decoration: none;
}
