body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

header {
    background-color: #003262; /* Berkeley Blue background */
    color: #FFFFFF;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 80px; /* Adjust as needed */
}

header .logo {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white; /* Set logo background to white */
    padding: 0 20px; /* Add some padding around the logo */
}

header .logo img {
    height: 100%;
    width: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the entire logo is visible */
}

header nav {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 20px;
}

header nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Match font family */
    font-size: 16px; /* Adjust font size if necessary */
}

header nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    height: calc(100% - 80px); /* Full height minus the header height */
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

footer {
    background-color: #003262; /* Berkeley Blue */
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
