body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #003262;
    color: #FFFFFF;
    padding: 10px 0;
    text-align: center;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 15px;
}

.logo img {
    max-height: 50px;
    vertical-align: middle;
}

main {
    padding: 20px;
    margin-bottom: 150px; /* Added margin-bottom to push the footer down */
    min-height: calc(100vh - 150px); /* Ensure main takes full height minus footer */
}

section h2 {
    color: #FFB511;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: #003262;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    position: relative; /* Change from fixed to relative */
    width: 100%;
    bottom: 0;
}
